@import "~$styles/variables";

.tableItem {
  align-self: center;
  display: flex;
  flex: 1;
  font-size: $fontSize-m;
  justify-self: center;
  padding: $spacing-s;
  text-align: center;
  word-break: break-word;
}
