@import "$styles/_variables";

.link {
  color: $greenTableHeader;
  text-decoration: none;
}

.linkLabel {
  margin: $spacing-m;
}

.activeLink {
  background: #96bb7c;
  border-radius: 10px;
  color: $white;
  text-decoration: none;
}
