@import "~$styles/variables";

.tableOverview {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tableHeader {
  background-color: $greenTableHeader;
  color: $white;
  text-align: center;
}

.firstleft {
  border-radius: 15px 0 0;
}

.firstright {
  border-radius: 0 15px 0 0;
}

td {
  width: 30em;
}

.tableHeader td {
  line-height: 0px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: flex;
  justify-content: center;
  margin: 3px;
}
