@import "~$styles/variables";

.tableOverview {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.tableHeader {
  background-color: $lightgray;
  color: $black;
  text-align: center;
}

.columnName {
  font-size: $fontSize-ml;
}

td {
  border: $borderTable;
  width: 30em;
}

table {
  display: flex;
  justify-content: center;
  margin: 3px;
}
