$monospace: sfmono-regular,
  consolas,
  "Liberation Mono",
  menlo,
  courier,
  monospace;

$buttonFormWidth: 150;
$formFieldHeight: 100px;

$buttonWeight: 100%;
$fieldWeight: 100%;

$headerHeight: 150px;
$buttonHeight: 77px;
$navBarHeight: 60px;
$navBarLogoHeight: 60px;
$navBarLogoWidth: 152px;
$pageMargin: 1.5vw;
$tableMargin: 2px;
$borderTable: 1px solid;

$spacing-xxl: 30px;
$spacing-xl: 24px;
$spacing-l: 20px;
$spacing-m: 14px;
$spacing-s: 8px;

$fontSize-xxl: 36px;
$fontSize-xl: 30px;
$fontSize-l: 20px;
$fontSize-m: 16px;
$fontSize-s: 14px;

$white: #fff;
$darkGrey: #40403f;
$mainBlue: #0095db;
$bodyBackgroundColor: #ededed;
$greenTableHeader: #96bb7c;

$detailContainerWidth: 900px;
$largeContainerThreshold: 1440px;
$mobileContainerThreshold: $detailContainerWidth + 2 * 20px;
$smallMobileContainerThreshold: 320px;
