@import "~$styles/variables";

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: $spacing-xxl;
  margin-bottom: $spacing-m;
}

.description {
  font-size: $spacing-l;
  margin-bottom: $spacing-m;
}
