@import "~$styles/variables";

.title {
  font-size: $spacing-xxl;
  margin-bottom: $spacing-m;
}

.description {
  font-size: $spacing-l;
  margin-bottom: $spacing-m;
}

.labelFilter {
  display: inline-block;
  font-palette: light;
  font-size: $spacing-m;
}

.buttonFormControl {
  border-color: $greenTableHeader;
  margin: $spacing-xxl;
  min-width: $buttonFormWidth;
}

table {
  border: 1px $greenTableHeader;
  display: flex;
  justify-content: center;
  margin: $tableMargin;
}

td {
  border: 1px $greenTableHeader;
  width: 30em;
}
