@import "~$styles/variables";

.title {
  color: $darkGrey;
  font-size: $fontSize-xxl;
}

.tableContainer {
  margin-top: $spacing-s;
}

.columnFilter {
  float: left;
  width: 20%;
}

.tableContent {
  float: right;
  width: 75%;
}

.formControl {
  border-color: $greenTableHeader;
  display: flex;
  max-width: 20%;
}

.labelFilter {
  display: flex;
  font-palette: light;
}
