@import "~$styles/variables";

.tableHeader {
  background-color: $greenTableHeader;
  color: $white;
  text-align: center;
}

th {
  height: 44px;
  width: 30em;
}

th:first-child {
  border-top-left-radius: 15px;
}

th:last-child {
  border-top-right-radius: 15px;
}
