@import "~$styles/variables";

.tableHeader {
  background-color: $greenTableHeader;
  box-shadow: 0 0 $spacing-s rgba(0, 0, 0, 0.15);
  color: $white;
  display: flex;
  flex: 1;
  padding: 0 $spacing-m 0 $spacing-s;
  position: sticky;
  top: 0;
}
