@import "~$styles/variables";

.tableItem {
  background-color: $white;
  text-align: center;
}

.tableItem td {
  line-height: 0px;
}

.editVolunteer {
  vertical-align: middle;
}

.editButton {
  display: unset;
}

tr.tableItem:nth-child(even) { background: $superlightgray; }
tr.tableItem:nth-child(odd) { background: $white; }
tr.tableItem:last-child .first { border-radius: 0 0 0 15px; }
tr.tableItem:last-child .editVolunteer { border-radius: 0 0 15px; }
