@import "~$styles/variables";

.tableItem {
  background-color: $white;
  line-height: 0;
  text-align: center;
}

.editVolunteer {
  vertical-align: middle;
}

.editButton {
  display: unset;
}

.tableItem:nth-child(even) { background: $superlightgray; }
.tableItem:nth-child(odd) { background: $white; }
