@import "~$styles/_variables";

.navBar {
  align-items: center;
  background-color: $white;
  border-bottom: 5px solid $greenTableHeader;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: $white;
  display: flex;
  font-size: $fontSize-m;
  font-style: normal;
  left: 0;
  padding: 0 $pageMargin;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;

  p {
    display: inline-block;
    height: $navBarHeight;
  }
}

.link {
  color: $greenTableHeader;
  text-decoration: none;
}

.activeLink {
  background: #96bb7c;
  border-radius: 10px;
  color: $white;
  text-decoration: none;
}

.linkLabel {
  margin: $spacing-m;
}
