@import "~$styles/variables";

.tableOverview {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  justify-content: center;
  margin: 3px;
}

td {
  width: 30em;
}

tbody tr:last-child {
  td:first-child {
    border-bottom-left-radius: 15px;
  }

  td:last-child {
    border-bottom-right-radius: 15px;
  }
}
