@import "$styles/_variables";

.mainContainer {
  display: flex;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-right: $spacing-xl;
  width: 50%;
}

.card h3 {
  color: $greenTitle;
}

.commissions {
  display: flex;
  flex-direction: column;
}

.commissionsTable {
  align-self: center;
}

.form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.fieldContainer {
  height: $formFieldHeight;
  width: 50%;
}

.field {
  margin: $spacing-m;
}
