@import "~$styles/variables";

.body {
  display: flex;
  flex-direction: column;
}

.title {
  align-self: flex-start;
}

.table {
  align-self: center;
}

.addRole {
  align-self: flex-end;
  margin-bottom: $spacing-xxl;
}
