@import "~$styles/_variables";

.centralize {
  text-align: center;
}

.header {
  align-items: center;
  color: $greenTitle;
  display: flex;
  flex-direction: column;
  font-size: $fontSize-xxl;
  font-style: normal;
  font-weight: bold;
  justify-content: center;
  min-height: $headerHeight;
  padding: 0 $pageMargin;
}
